{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content%}
<form method="post" action="" id="add_new_face" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container m-5">
        {% crispy form %}
        <span id="name_valid" style="color: red;">*Do not use Space </span>
        <br>
        <input type="submit" id="save" class="btn btn-success" value="Save">
        {% comment %}
        <a id="cancel" class="btn-secondary" href="#">Cancel</a>
        {% endcomment %}
        <a id="cancel" class="btn btn-secondary" href="{% url 'face' %}">Cancel</a>
    </div>
</form>
{% endblock content%}


{% block javascripts%}

<script type="text/javascript">
  $(document).ready(function() {

  $('#add_new_face').hide();
  $('#add_new_face').show();
});


$( "#save6666" ).click(function() {
    var name = ($('#id_name').val())
    var user_id = ($('#id_user_id').val())
    alert($('#id_name').val())

    $.ajax({
        url: '{% url "TakeImages" %}',
        data: {
            'name': name,
            'user_id': user_id,

        },
        dataType: 'json',
        success: function(data) {
            alert(data)

        }
    });
  });

$('#name_valid').hide()

$('#id_name').keyup(function() {
    var name = $('#id_name').val()
    if ((/\s+/).test(name)){
        $('#name_valid').show()
        return false;
    }
    else{
        $('#name_valid').hide()
    }  
});




// var name = $("#id_name").val()
</script>
{% endblock javascripts%}